* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor {
    width: 30%;
    height: 300px;
    border: 1px solid black;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgb(3, 3, 110);
    color: white;
}

button, input {
    width: 90%;
    padding: 0.5rem;
    display: block;
    outline: none;
    margin: 0.5rem auto;
}
