body {
    font-family: Arial;
}
div {
    background-color: rgb(243, 84, 84);
    width: 50%;
    border: 1px solid black;
    margin: 2rem auto;
    padding: 1rem;
    color: white;
    text-align: center;
}

div p:nth-child(2) {
    background-color: lightgreen;
    color: black;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid blue;
}

.boton {
    border-radius: 10px;
    width: 30%;
    padding: 1rem;
    background-color: white;
    cursor: pointer;
    color: white;
}

#boton1 {
    background-color: blue;
}
#boton2 {
    background-color: red;
}
#boton3 {
    background-color: yellow;
    color: black;
}